<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true" >
	<targets async="true">
    <target xsi:type="Console" name="fConsole" layout="${longdate} ${message}" />
    <target xsi:type="File" name="fCql" fileName="${basedir}/logs/${date:format=yyyyMMdd-HHmmss:cached=true}_cql.log" layout="${longdate} ${logger} ${threadid} ${message}" />
    <target xsi:type="File" name="fWeb" fileName="${basedir}/logs/${date:format=yyyyMMdd-HHmmss:cached=true}_web.log" layout="${longdate} ${logger} ${threadid} ${message}" />
  </targets>
	<rules>
    
		<logger name="CqlSharp.*" minlevel="Trace" writeTo="fCql" />
    <logger name="Web.CqlSharp.*" minlevel="Trace" writeTo="fConsole,fWeb" />
    
  </rules>
</nlog>